<div class="app-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">


    <div class="upload-box">
      <h3>📂 Add Document</h3>

      <input type="file" (change)="onFileSelected($event)" accept="application/pdf" />

      <button 
        (click)="uploadFile()" 
        [disabled]="isUploading"
      >
        {{ isUploading ? 'Processing...' : 'Process Document' }}
      </button>

      <p class="status">{{ message }}</p>
    </div>

    <div class="tech-box">
      <h4>⚡ Tech Stack</h4>
      <ul>
        <li>RAG Pipeline</li>
        <li>ChromaDB</li>
        <li>Sentence Transformers</li>
        <li>FastAPI + Angular</li>
      </ul>
    </div>
  </aside>

  <!-- MAIN CHAT -->
  <main class="chat-container">

    <h2>🧠 Assessly AI</h2>
    <p class="tagline">RAG Knowledge Assistant</p>
    <!-- CHAT WINDOW -->
    <div class="chat-window">

      <div *ngIf="!answer && !isQuerying" class="empty-state">
        <h2>Ask anything from your documents</h2>
        <p>Upload a file and start querying</p>
      </div>

      <div *ngIf="question" class="message user">
        {{ question }}
      </div>

      <div *ngIf="isQuerying" class="message ai">
        ⏳ Thinking...
      </div>

      <div *ngIf="answer" class="message ai">
        {{ answer }}
      </div>

    </div>

    <!-- INPUT BOX -->
    <div class="input-box">
      <input 
        [(ngModel)]="question"
        [disabled]="!isIngested || isQuerying"
        placeholder="Ask a question about your document..."
      />

      <button 
        (click)="getAnswer()"
        [disabled]="!isIngested || isQuerying"
      >
        Ask
      </button>
    </div>

  </main>

</div>