<div class="app-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2>🧠 Assessly AI</h2>
    <p class="tagline">RAG Knowledge Assistant</p>

    <div class="upload-box">
      <h4 style="color: #10a37f;display: flex;justify-content: center;">Best results with text-based PDFs.<br>Scanned files may not work accurately.</h4>

      <label class="upload-btn-white">
        📂 Upload PDF
        <input type="file" accept="application/pdf" (change)="onFileSelected($event)" hidden>
      </label>
      <button (click)="uploadFile()" [disabled]="isUploading">
        {{ isUploading ? 'Processing...' : 'Process Document' }}
      </button>

      <p class="status">{{ message }}</p>
    </div>
    <div *ngIf="logs.length > 0">
      <h4>File Processing status</h4>
      <div *ngFor="let log of logs">
        {{ log }}
      </div>
    </div>

    <div class="tech-box">
      
      <div class="info-panel rag-panel">

        <h3>🧠 RAG Pipeline</h3>

        <!-- COMPONENT DETAILS -->
        <div class="info-section">
          <h4>⚙️ Components</h4>

          <div *ngFor="let item of ragArchitecture.components" class="tech-item">
            <strong>{{ item.title }}</strong>
            <p>{{ item.value }}</p>
          </div>
        </div>

        <!-- BADGE -->
        <div class="tech-item">
          <strong>🚀 Design Philosophy</strong>
        <p class="badge">
          Built for scalable semantic retrieval, low-latency inference, and explainable AI responses.
        </p>
        </div>
        <!-- <p class="badge">
          🚀 Built for scalable semantic retrieval, low-latency inference, and explainable AI responses.
        </p> -->

      </div>

    </div>

  </aside>

  <!-- MAIN CHAT -->
  <main class="chat-container">

    <!-- CHAT WINDOW -->
    <div class="chat-window">

      <div *ngIf="!isQuerying" class="empty-state">
        <h2>Ask anything from your documents</h2>
        <p>Upload a file and start querying</p>
      </div>
      <div *ngFor="let qa of listOfQA">
        <div *ngIf="qa.question" class="message user question">
          {{ qa.question }}
        </div>
      
        <!-- <p>{{qa.isQuerying}}</p> -->
        <span *ngIf="qa.isQuerying"  class="message ai answer">
          ⏳ Thinking...
        </span>
      
        <div *ngIf="qa.answer"  class="message ai answer">
          {{ qa.answer }}
        </div>
      </div>


    </div>

    <!-- INPUT BOX -->
    <div class="input-box">
      <input [(ngModel)]="question" name="question" [disabled]="askDisable"
        style="width: 100%;height: 50px;"
        placeholder="Ask a question about your document..." />

      <button (click)="getAnswer()" [disabled]="askDisable">
        Ask
      </button>
    </div>
    <div class="footer empty-state-footer">
      <p>Built by Imran Bahelim • Lead Fullstack + AI Engineer</p>
    </div>
  </main>


</div>